@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --back-gray: #EEF2F5;
  --side-font: #707070;
  --side-active: #4391ED1A;
  --login-back: #FF6767;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


main {
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: 315px auto;
    width: 100%;
}

.to-do-container{
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}

.to-do, .inprogress, .done{
  height: 840px;
  flex: 1;
  overflow-y:auto;
  padding: 10px 17px;
}

aside{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  width: 315px;
}

.sidebar-element{
  font-family: "Poppins";
  color: var(--side-font);
  .sidebar-element + .s-active{
    background-color: var(--side-active);
}
}

.dropDownProfile {
  position:absolute;
  top: 5rem;
  right : 1.5rem;
  width: 80px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid gray;
}

.dropDownProfile::before{
  content: '';
  position: absolute;
  top: -0.6rem;
  right: 0.5rem;
  width: 19px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

ul li a {
  display: block;
  font-family: 'Poppins';
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  display: none;
  background-color: red;
  position: absolute;
  z-index: 999;
}

ul li a:hover {
  background-color: gray;
}

ul li:hover ul.dropdown {
  display: block;
}

.backLogin{
  font-family: 'Montserrat';
}
